.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

[class*='col-'] {
  flex: 1;
  padding: 10px;
}

/* Grid section */
.col-6 {
  flex-basis: 50%;
}

.col-12 {
  flex-basis: 100%;
}

/* Section styles */
.section-services {
  /* Styles for the services section */
}

.section-works {
  /* Styles for the works section */
}

.section-about-us {
  /* Styles for the about section */
}

.section-latest-news {
  /* Styles for the latest news section */
}

.section-testimonial {
  /* Styles for the testimonial section */
}

.section-contact {
  /* Styles for the contact section */
}

